<!-- <div class="card">
    <div class="card-body">
 <form #fichajeForm="ngForm" (ngSubmit)="altaFichaje()">
    <div class="row col-12">
        <div class="col-6">
            <mat-form-field class="pl-1"  appearance="outline">
                <mat-label>Selecciona una fecha</mat-label>
                <input matInput name="fichajeDate" [(ngModel)]="fichaje_date"  (click)="fichajeDate.open()" [min]="minDate" [matDatepicker]="fichajeDate">
                <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                <mat-datepicker  [startAt]="startDate" touchUi #fichajeDate></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="col-6">
            <mat-form-field appearance="outline">
                <mat-label>Hora fichaje</mat-label>
                <input matInput name="fichaje_time"  [(ngModel)]="fichaje_time"  [ngxTimepicker]="fichajeTime"  #fichajeTime [format]="24" placeholder="Hora fichaje"/>
            </mat-form-field>
            <ngx-material-timepicker  #fichajeTime></ngx-material-timepicker>
        </div>

        <div class="example-button-container">
            <button  mat-raised-button color="primary">Primary</button>
        </div>
    </div>
</form>
</div>
</div> -->
<div class="display-flex justify-content-center align-items-center">
    <mat-card class="mt-3 col-12 col-md-6">
        <mat-card-title class="purple-title">Nuevo fichaje</mat-card-title>
        <mat-card-content>
            <form #fichajeForm="ngForm">
                <div class="row col-12">
                    <div class="col-12 col-md-6">
                        <mat-form-field class="pl-1"  appearance="outline" class="w-100">
                            <mat-label>Fecha</mat-label>
                            <input matInput readonly required name="fichajeDate" [(ngModel)]="fichaje_date"  (click)="fichajeDate.open()" [min]="minDate" [matDatepicker]="fichajeDate">
                            <mat-datepicker-toggle matSuffix [for]="fichajeDate"></mat-datepicker-toggle>
                            <mat-datepicker  [startAt]="startDate" touchUi #fichajeDate></mat-datepicker>
                        </mat-form-field>
                    </div>
            
                    <div class="col-12 col-md-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Hora</mat-label>
                            <ngx-material-timepicker-toggle matSuffix [for]="fichajeTime"></ngx-material-timepicker-toggle>
                            <input required readonly  matInput name="fichaje_time"  [(ngModel)]="fichaje_time"  [ngxTimepicker]="fichajeTime"  #fichajeTime [format]="24" placeholder="Hora fichaje"/>
                        </mat-form-field>
                        
                        <ngx-material-timepicker [theme]="purpleTheme" #fichajeTime></ngx-material-timepicker>
                    </div>
                </div>
                <div class="row col-12 col-md-12 justify-content-center">
                    <mat-button-toggle-group required [(ngModel)]="tipoFichaje" name="tipoFichaje" aria-label="Roboto">
                        <mat-button-toggle class="col-6 col-md-6 primary" value="E">Entrada</mat-button-toggle>
                        <mat-button-toggle class="col-6 col-md-6 primary" value="S">Salida</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
            </form>
        </mat-card-content>
        <mat-card-actions class="text-center"> 
                <button [disabled]="!fichajeForm.valid" (click)="altaFichaje()"  mat-raised-button color="primary">Fichar</button>
        </mat-card-actions>

        <div class="col-md-12">
            <table *ngIf="fichajesList != undefined && fichajesList.length > 0 " class="table table-hover col-12 col-md-7">
                <h6 *ngIf="fichajesList.length > 1" class="purple-title col-12 pl-0">Tiempo trabajado: {{getHoursFromMiliseconds(tiempoTrabajado)}} <span>H</span> y {{getMinsFromMiliseconds(tiempoTrabajado)}} <span>Min</span></h6>
                <h6 class="purple-title">Ultimos fichajes:</h6>
                <tbody>
                    <tr *ngFor="let fichaje of fichajesList  | slice:0:4" >
                        <div *ngIf="fichaje.tipoFichaje=='E'">
                            <mat-icon  class="color_green vertical-align-middle" matListIcon>arrow_right</mat-icon>
                            <label class="col-md-2 col-3 pl-0">Entrada</label>
                            <span>{{fichaje.fechaFichaje | date: 'dd/MM/yyyy HH:mm'}}</span>
                        </div>    
                        <div *ngIf="fichaje.tipoFichaje=='S'" >
                            <mat-icon class="color_red vertical-align-middle" matListIcon>arrow_left</mat-icon>
                            <label class="col-md-2 col-3 pl-0">Salida</label>
                            <span>{{fichaje.fechaFichaje | date: 'dd/MM/yyyy HH:mm'}}</span>
                        </div>    
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-card>
</div>


<!-- Hecho con lista en vez de tabla -->
<!-- <div *ngIf="fichajesList" class="display-flex justify-content-center align-items-center"> -->
    <!-- <mat-list dense>
        <mat-list-item  *ngFor="let fichaje of fichajesList | reverse">
            <mat-icon *ngIf="fichaje.tipoFichaje=='E'" class="color_green" matListIcon>arrow_right</mat-icon>
            <span *ngIf="fichaje.tipoFichaje=='E'">Entrada {{fichaje.fechaFichaje | date: 'dd/MM/yyyy HH:mm'}}</span>
            <mat-icon *ngIf="fichaje.tipoFichaje=='S'" class="color_red" matListIcon>arrow_left</mat-icon>
            <span *ngIf="fichaje.tipoFichaje=='S'">Salida {{fichaje.fechaFichaje | date: 'dd/MM/yyyy HH:mm'}}</span>
        </mat-list-item>
    </mat-list> -->
<!-- </div> -->



