span{
    font-family: Roboto
}

.display-inline-flex{
    display: inline-flex !important;
}

.display-flex{
    display: flex;
}

.justify-content-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

.outline-none{
    outline: none;
}

.color_green{
    color: green;
}

.color_red{
    color:red;
}

.vertical-align-middle{
    vertical-align: middle;
}
