<div class="container h-90 text-center">
    <div class="col-12 d-flex justify-content-center align-items-center pt-5">
        <mat-card (click)="goToFichar();" class="card col-sm-7 col-12 background-menu-color border-radius-35px">
            <mat-card-content>
                <mat-card-title>Fichar</mat-card-title>
                <mat-card-subtitle class="font-weight-bold">Realizar fichajes diarios</mat-card-subtitle>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="col-12 d-flex justify-content-center align-items-center pt-5">
        <mat-card (click)="goToComisiones();" class="card col-sm-7 col-12 background-menu-color border-radius-35px">
            <mat-card-content >
                <mat-card-title>Comisiones</mat-card-title>
                <mat-card-subtitle class="font-weight-bold">Consultar añadir comisiones de venta</mat-card-subtitle>
            </mat-card-content>
        </mat-card>
    </div>
</div>




<!-- <div class="container h-90 d-flex text-center justify-content-center align-items-center">
     <div class="col-6 h-90 ">  -->
        <!-- <mat-card (click)="goToFichar();" class="card" >
            <mat-card-content>
                <mat-card-title>Entrada/Salida</mat-card-title>
                <mat-card-subtitle> Fichaje entrada salida</mat-card-subtitle>
            </mat-card-content>
        </mat-card>
        <div class="col-6 h-90 d-flex text-center justify-content-center align-items-center">
            <button id="singlebutton3" name="singlebutton" class="btn btn-primary col-md-6 h-25">Historico dias</button>
        </div> -->
    <!-- </div> -->

<!-- </div>  -->
